NODE_ENV="development"

MAIN_SVC_PORT="4000"

PG_HOST="postgres"
PG_DATABASE="newpeople"
PG_USER="root"
PG_PASSWORD="secret"
PG_PORT="5432"

DATABASE_URL="postgresql://${PG_USER}:${PG_PASSWORD}@${PG_HOST}/${PG_DATABASE}?schema=public"

JWT_KEY="SECRET"

SWAGGER_THEME="dark"
ADMIN_USERS=413636725
